* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  display: flex;
}
.site-header {
}
.container {
  width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.site-header__inner {
}
.site-header__list {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
.site-header__item {
  list-style: none;
}
.site-header__link {
  text-decoration: none;
  color: #7f7f7f;
}
.site-header {
}
.site-header__top {
  background-color: #f6f6f6;
  padding: 30px 120px;
}
.site-header__top-inner {
  display: flex;
  vertical-align: middle;
}
.site-header__top-inner__logo-link {
  margin-right: 35px;
}
.site-header__top__logo {
  width: 276px;
  height: 45px;
}
.site-header__currensy-list {
  display: flex;
  list-style: none;
  width: 158px;
  justify-content: space-between;
  vertical-align: middle;
}
.site-header__currensy-item {
  display: flex;
  align-items: center;
}
.span {
  display: flex;
}
.value {
  color: #2959ce;
  display: flex;
  align-items: center;
}
.form {
  margin-left: auto;
  vertical-align: middle;
}
.form__input {
  margin-right: 25px;
  padding: 13px 15px 12px;
  border-radius: 60px;
  border: 1px;
  background-color: azure;
  width: 270px;
}
.user__language {
}
.site-header__contact {
  background-color: #7296ec;
  color: #fff;
  padding: 13px 20px;
  width: 89px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 25px;
}
.site-header__bottom-inner {
  margin-top: 30px;
}

.site-header {
}
.site-header__top {
}
.container {
}
.site-header__top-inner {
}
.site-header__top-inner__logo-link {
}
.site-header__top__logo {
}
.site-header__currensy-list {
}
.site-header__currensy-item {
}
.value {
}
.form {
}
.form__input {
}
.user__language {
}
.site-header__contact {
}
.site-header__middle {
}
.site-header__inner {
}
.site-header__list {
}
.site-header__item {
}
.site-header__link {
}
.site-header__bottom {
}
.site-header__bottom-inner {
}
.site-header__bottom-inner__link {
}
.site-header__bottom-inner__img {
}
.main {
}
.container {
}
.main-inner__left {
  width: 797px;
  height: 1257px;
}
.main-inner__left-link {
}
.main-inner__left-logo {
}
.main-inner__left-img {
  padding-bottom: 25px;
}
.texts {
}
.text {
  height: 150px;
  width: 797px;
}
.text2 {
  height: 60px;
  width: 797px;
}
.text3 {
  height: 180px;
  width: 797px;
}
.text4 {
  height: 90px;
  width: 797px;
}
.text5 {
  height: 120px;
  width: 797px;
}
.text6 {
  height: 60px;
  width: 797px;
}
